<%- include('partials/head', { title: 'Shortcuts' }) %>
<div class="app">
  <%- include('partials/nav', { active: 'shortcuts' }) %>
  <div class="main">
    <h2>Shortcuts</h2>
    <%- include('partials/flash', { flash }) %>

    <%- include('partials/shortcuts-content') %>
  </div>
</div>
<%- include('partials/foot') %>
